In [1]:
import pandas as pd
import numpy as np

# Leer los archivos csv como dataframes
file1 = pd.read_csv('files_for_lab/csv_files/file1.csv')
file2 = pd.read_csv('files_for_lab/csv_files/file2.csv')
file3 = pd.read_csv('files_for_lab/csv_files/file3.csv')

In [2]:
#Esto lo uso para ver si lo hice bien
print("File 1 shape:", file1.shape)
print("File 2 shape:", file2.shape)
print("File 3 shape:", file3.shape)

File 1 shape: (4008, 11)
File 2 shape: (996, 11)
File 3 shape: (7070, 11)

In [3]:
#VEO EL NOMBRE DE LAS COLUMNAS
print(file1.columns)
print(file2.columns)
print(file3.columns)

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')
Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Total Claim Amount', 'Policy Type', 'Vehicle Class'],
      dtype='object')
Index(['Customer', 'State', 'Customer Lifetime Value', 'Education', 'Gender',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Total Claim Amount', 'Vehicle Class'],
      dtype='object')

In [4]:
# Para el primer DataFrame
file1 = file1.rename(columns={'Customer': 'Cliente', 'ST': 'Estado', 'GENDER': 'Género', 'Education': 'Educación', 
                              'Customer Lifetime Value': 'Valor de vida del cliente', 'Income': 'Ingreso', 
                              'Monthly Premium Auto': 'Prima mensual del auto', 'Number of Open Complaints': 'Número de reclamos abiertos', 
                              'Policy Type': 'Tipo de póliza', 'Vehicle Class': 'Clase del vehículo', 
                              'Total Claim Amount': 'Monto total de reclamo'})

# Para el segundo DataFrame
file2 = file2.rename(columns={'Customer': 'Cliente', 'ST': 'Estado', 'GENDER': 'Género', 'Education': 'Educación', 
                              'Customer Lifetime Value': 'Valor de vida del cliente', 'Income': 'Ingreso', 
                              'Monthly Premium Auto': 'Prima mensual del auto', 'Number of Open Complaints': 'Número de reclamos abiertos', 
                              'Total Claim Amount': 'Monto total de reclamo', 'Policy Type': 'Tipo de póliza', 
                              'Vehicle Class': 'Clase del vehículo'})

# Para el tercer DataFrame
file3 = file3.rename(columns={'Customer': 'Cliente', 'State': 'Estado', 'Customer Lifetime Value': 'Valor de vida del cliente',
                              'Education': 'Educación', 'Gender': 'Género', 'Income': 'Ingreso',
                              'Monthly Premium Auto': 'Prima mensual del auto', 'Number of Open Complaints': 'Número de reclamos abiertos',
                              'Policy Type': 'Tipo de póliza', 'Total Claim Amount': 'Monto total de reclamo',
                              'Vehicle Class': 'Clase del vehículo'})

In [5]:
#CHECO SI SE HIZO LOS CAMBIOS 
print(file1.columns)
print(file2.columns)
print(file3.columns)

Index(['Cliente', 'Estado', 'Género', 'Educación', 'Valor de vida del cliente',
       'Ingreso', 'Prima mensual del auto', 'Número de reclamos abiertos',
       'Tipo de póliza', 'Clase del vehículo', 'Monto total de reclamo'],
      dtype='object')
Index(['Cliente', 'Estado', 'Género', 'Educación', 'Valor de vida del cliente',
       'Ingreso', 'Prima mensual del auto', 'Número de reclamos abiertos',
       'Monto total de reclamo', 'Tipo de póliza', 'Clase del vehículo'],
      dtype='object')
Index(['Cliente', 'Estado', 'Valor de vida del cliente', 'Educación', 'Género',
       'Ingreso', 'Prima mensual del auto', 'Número de reclamos abiertos',
       'Tipo de póliza', 'Monto total de reclamo', 'Clase del vehículo'],
      dtype='object')

In [6]:
# Concatenar dataframes
data = pd.concat([file1, file2, file3], axis=0)

In [7]:
print(data.shape)
print(data.head())
print(data.sample())

(12074, 11)
   Cliente      Estado Género             Educación Valor de vida del cliente  \
0  RB50392  Washington    NaN                Master                       NaN
1  QZ44356     Arizona      F              Bachelor                697953.59%
2  AI49188      Nevada      F              Bachelor               1288743.17%
3  WW63253  California      M              Bachelor                764586.18%
4  GA49547  Washington      M  High School or Below                536307.65%

   Ingreso  Prima mensual del auto Número de reclamos abiertos  \
0      0.0                  1000.0                      1/0/00
1      0.0                    94.0                      1/0/00
2  48767.0                   108.0                      1/0/00
3      0.0                   106.0                      1/0/00
4  36357.0                    68.0                      1/0/00

   Tipo de póliza Clase del vehículo  Monto total de reclamo
0   Personal Auto      Four-Door Car                2.704934
1   Personal Auto      Four-Door Car             1131.464935
2   Personal Auto       Two-Door Car              566.472247
3  Corporate Auto                SUV              529.881344
4   Personal Auto      Four-Door Car               17.269323
     Cliente Estado Género Educación Valor de vida del cliente  Ingreso  \
2808     NaN    NaN    NaN       NaN                       NaN      NaN

      Prima mensual del auto Número de reclamos abiertos Tipo de póliza  \
2808                     NaN                         NaN            NaN

     Clase del vehículo  Monto total de reclamo
2808                NaN                     NaN

In [8]:
# Identificar columnas numéricas
numeric_cols = data.select_dtypes(include=['float64', 'int64']).columns.tolist()

In [9]:
print(numeric_cols)

['Ingreso', 'Prima mensual del auto', 'Monto total de reclamo']

In [10]:
categorical_cols = data.select_dtypes(include=['object']).columns.tolist()

In [11]:
print(categorical_cols)

['Cliente', 'Estado', 'Género', 'Educación', 'Valor de vida del cliente', 'Número de reclamos abiertos', 'Tipo de póliza', 'Clase del vehículo']

In [12]:
data = data.drop(['Educación', 'Número de reclamos abiertos'], axis=1)

In [13]:
print(data)

      Cliente      Estado Género Valor de vida del cliente  Ingreso  \
0     RB50392  Washington    NaN                       NaN      0.0
1     QZ44356     Arizona      F                697953.59%      0.0
2     AI49188      Nevada      F               1288743.17%  48767.0
3     WW63253  California      M                764586.18%      0.0
4     GA49547  Washington      M                536307.65%  36357.0
...       ...         ...    ...                       ...      ...
7065  LA72316  California      M               23405.98798  71941.0
7066  PK87824  California      F               3096.511217  21604.0
7067  TD14365  California      M               8163.890428      0.0
7068  UP19263  California      M               7524.442436  21941.0
7069  Y167826  California      M               2611.836866      0.0

      Prima mensual del auto  Tipo de póliza Clase del vehículo  \
0                     1000.0   Personal Auto      Four-Door Car
1                       94.0   Personal Auto      Four-Door Car
2                      108.0   Personal Auto       Two-Door Car
3                      106.0  Corporate Auto                SUV
4                       68.0   Personal Auto      Four-Door Car
...                      ...             ...                ...
7065                    73.0   Personal Auto      Four-Door Car
7066                    79.0  Corporate Auto      Four-Door Car
7067                    85.0  Corporate Auto      Four-Door Car
7068                    96.0   Personal Auto      Four-Door Car
7069                    77.0  Corporate Auto       Two-Door Car

      Monto total de reclamo
0                   2.704934
1                1131.464935
2                 566.472247
3                 529.881344
4                  17.269323
...                      ...
7065              198.234764
7066              379.200000
7067              790.784983
7068              691.200000
7069              369.600000

[12074 rows x 9 columns]

In [14]:
data['Valor de vida del cliente']

0               NaN
1        697953.59%
2       1288743.17%
3        764586.18%
4        536307.65%
           ...
7065    23405.98798
7066    3096.511217
7067    8163.890428
7068    7524.442436
7069    2611.836866
Name: Valor de vida del cliente, Length: 12074, dtype: object

In [15]:
print(data.dtypes)

Cliente                       object
Estado                        object
Género                        object
Valor de vida del cliente     object
Ingreso                      float64
Prima mensual del auto       float64
Tipo de póliza                object
Clase del vehículo            object
Monto total de reclamo       float64
dtype: object

In [16]:
print(data['Valor de vida del cliente'].value_counts())

16468.220790    6
5246.278375     6
22332.439460    6
4270.034394     6
5107.163002     6
               ..
7477.176362     1
15700.284360    1
2968.077571     1
5452.171237     1
2611.836866     1
Name: Valor de vida del cliente, Length: 8211, dtype: int64

In [17]:
mask = data['Valor de vida del cliente'].notna() & data['Valor de vida del cliente'].str.contains('%')
data.loc[mask, 'Valor de vida del cliente'] = pd.to_numeric(data.loc[mask, 'Valor de vida del cliente'].str.replace('%', '')) * 100

In [18]:
data['Valor de vida del cliente']

0               NaN
1        69795359.0
2       128874317.0
3        76458618.0
4        53630765.0
           ...
7065    23405.98798
7066    3096.511217
7067    8163.890428
7068    7524.442436
7069    2611.836866
Name: Valor de vida del cliente, Length: 12074, dtype: object

In [19]:
# Revisar duplicados
print("Número de filas antes de eliminar duplicados:", len(data))
data = data.drop_duplicates()
print("Número de filas después de eliminar duplicados:", len(data))

Número de filas antes de eliminar duplicados: 12074
Número de filas después de eliminar duplicados: 9135

In [20]:
# Obtener el número de filas antes de aplicar el filtro
num_filas_antes = len(data)

# Filtrar clientes con ingreso menor o igual a 0
mask = data['Ingreso'] <= 0
data = data.drop(data[mask].index)

# Obtener el número de filas después de aplicar el filtro
num_filas_despues = len(data)

# Imprimir el número de filas eliminadas
print("Número de filas eliminadas:", num_filas_antes - num_filas_despues)

Número de filas eliminadas: 3300